@if (loading) {
  <div class="p-6 text-center">
    <app-spinner></app-spinner>
  </div>
} @else if (subscriptions && subscriptions.length > 0) {
  <div class="flex items-center justify-content-center w-full min-h-screen">
    <div class="flex flex-col w-full">
      <h2 class="text-3xl font-bold text-center mb-12">Choose Your Plan</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        @for (item of subscriptions; track subscriptions.indexOf(item)) {
          <p-card
            styleClass="shadow-lg rounded-lg overflow-hidden border-2 border-blue-500 min-h-[600px] flex flex-col"
          >
            <ng-template pTemplate="header">
              <div class="bg-blue-500 p-6 text-center">
                <h3 class="text-2xl font-semibold text-white">
                  {{ item.name }}
                </h3>
              </div>
            </ng-template>

            <div class="p-6 flex-grow">
              <div class="text-center mb-6">
                <span class="text-4xl font-bold"
                  >{{ item.cost }}/${{ item.costDuration }}</span
                >
              </div>
              <ul class="list-disc list-inside space-y-2 mb-6">
                @for (feature of item.features; track feature) {
                  <li>{{ feature }}</li>
                }
              </ul>
            </div>

            <ng-template pTemplate="footer">
              <div class="p-6 text-center">
                <p-button
                  pRipple
                  type="button"
                  label="{{ `Choose ${item.name}` }}"
                  variant="outlined"
                  icon="pi pi-check"
                  severity="info"
                  (onClick)="onOpenDrawer(item)"
                />
              </div>
            </ng-template>
          </p-card>
        }
      </div>

      <div class="card">
        <p-drawer header="Payment" [(visible)]="drawerVisible" position="right">
          <p class="mb-8">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <p-button
            pRipple
            type="button"
            label="Checkout"
            icon="pi pi-check"
            (onClick)="onSelecteSubscription()"
            [loading]="buttonloading"
          />
        </p-drawer>
      </div>
    </div>
  </div>
} @else {
  <div class="p-6 text-center">
    <p>No subscription plans available at the moment.</p>
  </div>
}
