<div>
  <div class="flex flex-col items-center w-full justify-content-center">
    <div class="w-1/4">
      <h2 class="text-2xl">Create Oraganization</h2>
      <p>Setup your organization account</p>
      <form
        class="flex flex-col mt-6 gap-5"
        [formGroup]="formData"
        (ngSubmit)="onCreateTenant()"
        enctype="multipart/form-data"
      >
        <section>
          <div class="flex flex-col gap-2">
            <label for="name">Name</label>
            <input
              pInputText
              variant="filled"
              id="name"
              autocomplete="off"
              formControlName="name"
              class="w-full"
              required
              placeholder="Enter company name"
            />

            @if (
              formData.get('name')?.invalid &&
              (formData.get('name')?.dirty || formData.get('name')?.touched)
            ) {
              <div class="text-red-700 text-sm mt-1">
                @if (formData.get('name')?.hasError('required')) {
                  <div>Name is required.</div>
                }
                @if (formData.get('name')?.hasError('minlength')) {
                  <div>Name must be at least 4 characters long.</div>
                }
              </div>
            }
          </div>
        </section>

        <section>
          <div class="flex flex-col gap-2">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              variant="filled"
              autocomplete="off"
              formControlName="email"
              class="w-full"
              required
              placeholder="Enter company email"
              type="email"
            />

            @if (
              formData.get('email')?.invalid &&
              (formData.get('email')?.dirty || formData.get('email')?.touched)
            ) {
              <div class="text-red-700 text-sm mt-1">
                @if (formData.get('email')?.hasError('required')) {
                  <div>Email is required.</div>
                }
                @if (formData.get('email')?.hasError('email')) {
                  <div>Invalid email format.</div>
                }
              </div>
            }
          </div>
        </section>

        <section>
          <div class="flex flex-col gap-2">
            <label for="phone">Phone/Mobile</label>
            <input
              pInputText
              id="phone"
              variant="filled"
              autocomplete="off"
              formControlName="phone"
              class="w-full"
              required
              placeholder="Enter company phone number"
              type="tel"
            />

            @if (
              formData.get('phone')?.invalid &&
              (formData.get('phone')?.dirty || formData.get('phone')?.touched)
            ) {
              <div class="text-red-700 text-sm mt-1">
                @if (formData.get('phone')?.hasError('required')) {
                  <div>Phone number is required.</div>
                }
              </div>
            }
          </div>
        </section>

        <section>
          <div class="flex flex-col gap-2">
            <label for="website">Website URL</label>
            <input
              pInputText
              id="website"
              variant="filled"
              autocomplete="off"
              formControlName="website"
              class="w-full"
              placeholder="Enter company website URL"
              type="url"
            />
          </div>
        </section>

        <section>
          <div class="flex flex-col gap-2">
            <label for="logo">Company Logo</label>
            <input
              pInputText
              id="logo"
              variant="filled"
              autocomplete="off"
              formControlName="logo"
              class="w-full"
              placeholder="Upload your company logo"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
          </div>
        </section>

        <section>
          <div class="flex flex-col gap-2">
            <label for="location">Location</label>
            <input
              pInputText
              id="location"
              variant="filled"
              autocomplete="off"
              formControlName="lat"
              class="w-full"
              placeholder="Enter company location"
              type="text"
              (click)="showDialog()"
            />
            @if (
              formData.get('lat')?.invalid &&
              (formData.get('lat')?.dirty || formData.get('lat')?.touched)
            ) {
              <div class="text-red-700 text-sm mt-1">
                @if (formData.get('lat')?.hasError('required')) {
                  <div>Location is required.</div>
                }
              </div>
            }
          </div>
        </section>

        <div class="card flex justify-center gap-4">
          <p-button
            class="lg w-full"
            type="submit"
            [disabled]="!formData.valid"
            [loading]="loading()"
            pRipple
            label="Create Organization"
            severity="success"
          />
        </div>
      </form>
    </div>
  </div>

  <section>
    <div class="card flex justify-center">
      <p-dialog
        header="Location Permission"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '25rem' }"
      >
        <span class="p-text-secondary block mb-4">Choose permission</span>
        <div class="mb-4">
          <p>
            To set your company location, please allow access to your location.
            This location permission is required to accurately determine your
            company's address.
          </p>
        </div>

        <ng-template #footer>
          <p-button
            label="Cancel"
            [text]="true"
            severity="secondary"
            (click)="visible = false"
          />
          <p-button
            label="Continue"
            pRipple
            severity="success"
            (click)="fetchLocation()"
          />
        </ng-template>
      </p-dialog>
    </div>
  </section>
</div>
